<!DOCTYPE html>
<html lang="en">

<head>
  <!-- including all the classes and script libraries -->
  <% include partials/_header %>
</head>
<body>
  <section class='container landing-page'>
    <% include partials/_thanks %>
  </section>
  <% include partials/_footer %>
</body>

</html>